<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    <!--blade::@include('lanu.app.head-start')-->
    {{ HEAD }}
    <!--blade::@include('lanu.app.head-end')-->
  </head>
  <body {{ BODY_ATTRS }}>
    <!--blade::@include('lanu.app.body-start')-->
    {{ APP }}
    <!--blade::@include('lanu.app.body-end')-->
  </body>
</html>
